.DS_Store
slides/juggling-kinect.aux
slides/juggling-kinect.log
slides/juggling-kinect.nav
slides/juggling-kinect.out
slides/juggling-kinect.snm
slides/juggling-kinect.toc
slides/juggling-kinect.synctex.gz
frames/
*.pyc
report/pythonlisting.aux
report/report.aux
report/report.fdb_latexmk
report/report.fls
report/report.out
report/report.synctex.gz
report/report.toc
