Warnings have been stripped out

* * *

    Running test  1 :  Summation of arrays, vanilla python :
        Testcase 1: small shape, pixeltype: uint8 time : 3.95018005371
        Testcase 2: large shape, pixeltype: uint8 time : 15.8529958725
    Running test  2 :  Summation of arrays, python in cython :
        Testcase 1: small shape, pixeltype: uint8 time : 3.7451941967
        Testcase 2: large shape, pixeltype: uint8 time : 14.8216428757
    Running test  3 :  Summation of arrays, actual cython :
        Testcase 1: small shape, pixeltype: uint8 time : 3.0617878437
        Testcase 2: large shape, pixeltype: uint8 time : 12.3557448387
